
<div class="container">
    <div class="py-5 text-left">
        <h2>Order Confirmation</h2>
    </div>
    <div class="row">
     
      <section class="section">
       <%= render(@cart.line_items) %>
       <div class="column total has-text-right">
         <h4 class="title is-4">
           <span class="f5 has-text-grey">Total:</span> <%= number_to_currency(@cart.total_price) %>
         </h4>
       </div>
     </section>


       <div class="col-md-8 order-md-1">
            <h4 class="mb-3">Billing address</h4>
            <form class="needs-validation" novalidate="">
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="firstName">First name</label>
                        <input type="text" class="form-control" id="firstName" placeholder="" value="" required="">
                        <div class="invalid-feedback"> Valid first name is required. </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="lastName">Last name</label>
                        <input type="text" class="form-control" id="lastName" placeholder="" value="" required="">
                        <div class="invalid-feedback"> Valid last name is required. </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="email">Email <span class="text-muted">(Optional)</span></label>
                    <input type="email" class="form-control" id="email" placeholder="you@example.com">
                    <div class="invalid-feedback"> Please enter a valid email address for shipping updates. </div>
                </div>
                <div class="mb-3">
                    <label for="contact">Contact</label>
                    <input type="contact" class="form-control" id="contact">
                    <div class="invalid-feedback"> Please enter a valid contact for shipping updates. </div>
                </div>
                <div class="mb-3">
                    <label for="address">Address1</label>
                    <input type="text" class="form-control" id="address1" placeholder="1234 Main St" required="">
                    <div class="invalid-feedback"> Please enter your shipping address. </div>
                </div>
                <div class="mb-3">
                    <label for="address2">Address2 <span class="text-muted">(Optional)</span></label>
                    <input type="text" class="form-control" id="address2" placeholder="Apartment or suite">
                </div>
                <div class="row">
                    <div class="col-md-5 mb-3">
                        <label for="country">City</label>
                        <select class="custom-select d-block w-100" id="country" required="">
                            <option value="">Choose...</option>
                            <option>Indore</option>
                            <option>Bhopal</option>
                            <option>Jabalpur</option>
                            <option>Gwalior</option>
                            <option>Ujjain</option>
                            <option>Ratlam</option>
                            <option>Delhi</option>
                            <option>Mumbai</option>
                            <option>Kolkata</option>
                            <option>Chennai</option>
                            <option>Others</option>
                        </select>
                        <div class="invalid-feedback"> Please select a valid city. </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="state">State</label>
                        <select class="custom-select d-block w-100" id="state" required="">
                            <option value="">Choose...</option>
                            <option>Madhya pradesh</option>
                            <option>Uttar pradesh</option>
                            <option>West Bengal</option>
                            <option>Karnatak</option>
                            <option>Himachal Pradesh</option>
                            <option>Delhi</option>
                            <option>Andhra pradesh</option>
                            <option>Others</option>
                        </select>
                        <div class="invalid-feedback"> Please provide a valid state. </div>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="zip">PinCode</label>
                        <input type="text" class="form-control" id="zip" placeholder="" required="">
                        <div class="invalid-feedback"> Pin code required. </div>
                    </div>
                </div>
                <hr class="mb-4">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="same-address">
                    <label class="custom-control-label" for="same-address">Shipping address is the same as my billing address</label>
                </div>           

                <hr class="mb-4">
                <%#<%= link_to 'Place Order', new_order_path, class:'button is-primary' %>
                 <button class="btn btn-primary btn-lg btn-block" type="submit">Place Order</button> 
            </form>
        </div>
    </div>
</div>