<!-- <h1>Order Confirmation</h1> -->

<%= render 'form', order: @order %>
<hr>
<%#<%= link_to 'Back', orders_path %>
<!-- <html>
<head>
	<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
   <div>
	<center>
		<p>Thankyou for your Order, we will reach you soon!!!</p>		
	</center>
   </div>
</body>
</html> -->